__pycache__
site-packages
venv
######################
# pycharm
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
.coverage
.idea/misc.xml
.idea/python-scrape.iml
/src/interviews/0_mathmatics/histgram.png
misc.xml
*.iml
/.vscode/
